[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EValue"]
	path = EValue
	url = https://github.com/cran/EValue
[submodule "MetaUtility"]
	path = MetaUtility
	url = https://github.com/mayamathur/metautility
[submodule "NRejections"]
	path = NRejections
	url = https://github.com/cran/NRejections
[submodule "Replicate"]
	path = Replicate
	url = https://github.com/cran/Replicate
[submodule "SimTimeVar"]
	path = SimTimeVar
	url = https://github.com/cran/SimTimeVar
